{% extends 'base/base.html' %}

{% block content %}

<div class="row mt-4">
<div class="col-12">
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col">Producto</th>
            <th scope="col" class="text-center">Cantidad</th>
            <th scope="col" class="text-right">Subtotal</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
            <td>{{ item.product.nombre }}</td>
            <td><input class="form-control" type="text" disabled value="{{ item.quantity }}" /></td>
            <td class="text-right">{{ item.total_price }}</td>
            <td class="text-right">
                <a href="{% url 'cart:deleteitem' item.product.id %}" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i> 
                </a> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>
{% endblock %}