{% extends 'base/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<h3>Compras realizadas</h3>


<div class="table-responsive">
<table class="table table-hover ">
        <thead class="thead-light">
            <tr>
            	<th scope="col">Tracking</th>
                <th scope="col">Tienda</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Accción</th>
            </tr>
        </thead>
        <tbody>
            {% for t in ts %}
            <tr>
            	<td>
                <a href="{% url 'transaccion:tracking' t.id %}">
                    {{t.id}}
                </a>
                </td>
                <td>
                <a href="{% url 'tienda:tiendaver' t.producto.tienda.id %}">
                    {{t.producto.tienda.usuario.username}}
                </a>
                </td>
                <td>
                <a href="{% url 'tienda:prodver' t.producto.id %}">
                    {{t.producto.nombre}}
                </a>
                </td>
                <td>{{t.precio}}</td>
                <td>{{ t.estado_act }}</td>
                <td>
                    {% if t.estado_act == 1%}
                    <button href="{% url 'transaccion:confirmar' t.id %}" class="btn btn-sm btn-primary" onclick="confirm('Confirma?');">
                        <i class="fas fa-check-circle"></i>Confirmar
                    </button>                
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
</div>

{% endblock %}