{% extends 'base/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<h3>Compras realizadas</h3>


<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
            	<th scope="col">id</th>
                <th scope="col">Tienda</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for t in ts %}
            <tr>
            	<td>{{t.id}}</td>
                <td>
                <a href="{% url 'tienda:tiendaver' t.producto.tienda.id %}">
                    {{t.producto.tienda.usuario.username}}
                </a>
                </td>
                <td>
                <a href="{% url 'tienda:prodver' t.producto.id %}">
                    {{t.producto.nombre}}
                </a>
                </td>
                <td>{{t.precio}}</td>
                <td>{{ t.movimiento_set.all.0.get_estado_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>


{% endblock %}