{% extends 'base/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<h3>Tracking de compra</h3>

<table class="table table-hover">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Cliente</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for mov in movs %}
            <tr>
                <td>{{mov.id}}</td>
                <td>{{mov.transaccion.cliente}}</td>
                <td>
                    <a href="{% url 'tienda:prodver' mov.transaccion.producto.id %}">
                        {{mov.transaccion.producto.nombre}}
                    </a>                </td>
                <td>{{mov.transaccion.cantidad}}</td>
                <td>{{ mov.get_estado_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>


{% endblock %}