{% extends 'base/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<h3>Ventas realizadas</h3>

<div class="table-responsive">
<table class="table table-hover ">
        <thead class="thead-light">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Cliente</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for t in ts %}
            <tr>
                <td>{{t.id}}</td>
                <td>{{t.cliente}}</td>
                <td>
                    <a href="{% url 'tienda:prodver' t.producto.id %}">
                        {{t.producto.nombre}}
                    </a>                
                </td>
                <td>{{t.cantidad}}</td>
                <td>{{ t.estado_act }}</td>
                <td>
                {% if t.estado_act == 2%}
                    <a href="{% url 'transaccion:escalar' t.id %}" class="btn btn-sm btn-success" onclick="confirm('Confirma?');">
                        <i class="fas fa-box"></i> Retirar
                    </a>                
                {% endif %}                     
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
</div>

{% endblock %}