<footer class="footer-basic-centered">

      <p class="footer-company-motto">MovArt</p>

      <p class="footer-links">
          <a href="{% url 'tienda:tiendalist' %}">Tiendas</a>
        ·
        <a href="{% url 'tienda:prodlistall' %}">Productos</a>
        ·
        <a href="{% url 'core:nosotros' %}">Nosotros</a>
        ·
        <a href="{% url 'core:privacy' %}">Políticas de privacidad</a>
        ·
        <a href="{% url 'evento:list' %}">Eventos</a>

      </p>

      <p class="footer-company-name">MovArt © 2019</p>

    </footer>