{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mymenu">
  <a class="navbar-brand" href="{% url 'core:home' %}">
    <img src="{% static 'img/logo.png' %}" width="200" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-shopping-cart"></i> comprar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'tienda:tiendalist' %}">Buscar Tiendas</a>
          <a class="dropdown-item" href="{% url 'tienda:prodlistall' %}">Buscar Productos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-money"></i> vender
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'tienda:tiendadd' %}">Publicar Tienda</a>
          <a class="dropdown-item" href="#">Publicar de Instagram</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-info-circle"></i> nosotros</a>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'denuncia:dlist' %}">
          <i class="fas fa-bullhorn"></i> 
          denuncias</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'evento:list' %}">
          <i class="fa fa-calendar" aria-hidden="true"></i> 
          eventos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'pinax_messages:inbox' %}">
          <i class="fa fa-envelope"></i>
        </a>
      </li>     

      <li class="nav-item">
      <a class="nav-link" href="{% url 'favs:plist' %}">
        <i class="fa fa-heart"></i>
      </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'favs:tlist' %}">
        <i class="fa fa-star"></i>
      </a>         
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-link" href="{% url 'core:ver_perfil' %}">
            <i class="fa fa-user"></i> Mis Datos
          </a>                 
          <a class="nav-link" href="{% url 'core:logout' %}">
            <i class="fa fa-sign-out-alt"> </i>Salir
          </a>
        </div>
      </li>
      <li class="nav-item">
          
      </li>
      {% else %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'core:login' %}">LOGIN</a>
      </li>
      {% endif %}
      
    </ul>
  </div>
</nav>
