{% extends 'base/base.html' %}
{% load static %}
{% block title %}  {% endblock %}
{% block content %}
<div class="jumbotron bg-dark sabermas ">
  <div class="container-fluid">
    <div class="col-md-2 col-sm-4 offset-md-5 offset-sm-5 ">
    <button href="#" type="button" class="btn btn-light btn-block rounded-pill">Nosotros</button>
    </div>
    <p class="lead">    Somos una tienda virtual Argentina destinada a promover el mercado Artesanal nacional.Somos una tienda virtual Argentina destinada a promover el mercado Artesanal nacional.Somos una tienda virtual Argentina destinada a promover el mercado Artesanal nacional.
    </p>
  </div>
</div>
{% endblock%}