{% extends 'base/base.html' %}
{% load static %}
{% block title %}  {% endblock %}
{% block content %}
<div class="jumbotron bg-dark sabermas">
  <div class="container-fluid">
    <div class="col-md-2 col-sm-4 offset-md-5 offset-sm-5 ">
    <button href="#" type="button" class="btn btn-light btn-block rounded-pill mb-5">Nosotros</button>
    </div>
    <p class="lead">    Somos una tienda virtual Argentina destinada a promover el mercado Artesanal nacional.Somos una tienda virtual Argentina destinada a promover el mercado Artesanal nacional.Somos una tienda virtual Argentina destinada a promover el mercado Artesanal nacional.
    </p>
    <p class="lead"> 
      El equipo de MovArt se encuentra a tu disposición para ayudarte.
      Comunícate con nosotros a cualquiera de los siguientes medios de contacto:
    </p>
    <ul class="list-group">
      <li class="list-group-item">WhatsApp: 0362-154119163</li>
      <li class="list-group-item">Correo electrónico: soporte@movart.herokuapp.com</li>
      <li class="list-group-item">Redes Sociales: @movart</li>
    </ul>

    <div class="card mt-5">
      <div class="card-body">
        
        <div class="text-center h2">Proyecto Final ISI 2019</div>
        <p class="text-dark">Docentes</p>
          <ul>
            <li>Ing. Graciela Méndez</li>
            <li>Dr. César Javier Acuña</li>
          </ul>
          <p class="text-dark">Integrantes</p>
          <ul>
              <li>Agoston, Marcelo</li>
              <li>García, Belén</li>
              <li>Hruza, Gabriel Carlos</li>
              <li>Moore, Walter</li>
          </ul>
        </div>
    </div>
  </div>



</p>
  </div>
</div>
{% endblock%}