{% extends "base/base.html" %}
​
{% load i18n %}
{% load pinax_messages_tags %}
​
{% block head_title %}Messages{% endblock %}
​
{% block body_class %}{{ block.super }} pinax-messages-inbox{% endblock %}
​
{% block content %}
<div class="pinax-messages-inbox-container">
    <h3 class="with-actions">
        Mis Mensajes
    </h3>

    <section class="mailbox">
        <ul class="list-group box-shadow">
        {% for thread in threads %}
            <div class="thread {% if thread|unread:user %}unread{% endif %}">
                <li class="list-group-item">
                <a href="{{thread.get_absolute_url}}">
                    <div class="participants">{{ thread.users.all|join:", " }}</div>
                    <div class="latest-message">
                        <p>{{ thread.subject }}
                        {{ thread.latest_message.content }}</p>
                    </div>
                </a>
                </li>
            </div>
        {% empty %}
            <div class="no-messages">You have no messages.</div>
        {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}