{% extends "base/base.html" %}

{% block body_class %}{{ block.super }} pinax-messages-thread{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="pinax-messages-thread-detail-container">
    <h2 class="with-actions text-right">
        {{ thread.subject }}
    </h2>

    <section class="thread-messages">
        <div class="rounded box-shadow my-3 p-3">
        <div class="border-bottom border-gray pb-3 mb-0">
        <span class="text-left"> Mensajes</span>
        <span class="float-right mb-1">
            <a class="btn btn-outline-danger btn-sm" href="{% url 'pinax_messages:thread_delete' thread.pk %}"><i class="fa fa-trash"></i> Borrar hilo</a>
        </span>
        </div>
        {% for message in thread.messages.all %}
            <div class="media text-muted pt-3">
              <img src="{{message.sender.perfil_set.all.0.url_profile_picture}}" alt="" class="mr-2 rounded-circle" width="48" height="48">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">
                    @{{ message.sender.username }}<small> {{ message.sent_at }}</small>
                </strong>
                {{ message.content }}
              </p>
            </div>           
        {% endfor %}
        </div> 
    </section>

    <form class="comment-form" action="{% url 'pinax_messages:thread_detail' thread.pk %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
            <a href="{% url 'pinax_messages:inbox' %}" class="btn btn-light">
                <i class="fa fa-times"></i> Cancelar 
            </a>
            <button class="btn btn-primary"> 
                <i class="fa fa-envelope"></i> Responder 
            </button>  
        </div>
    </form>
</div>
{% endblock %}
