{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% endblock %}
{% block content %}


<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ evento.nombre }}</h5>
    <p class="card-text">{{ evento.descripcion }}</p>
    <p class="card-text">
    	{% language 'es' %}
    	<small class="text-muted">Inicio: {{ evento.inicio }} - Fin: {{ evento.fin }}</small>
    	{% endlanguage %}
    </p>
  </div>
  <img class="card-img-bottom" src="{{ evento.flyer }}" alt="Card image cap">
</div>

{% endblock %}