{% load static %}
<div class="col-md-4 col-lg-3 px-2 mb-3">
	<div class="product-card card">
	    <div class="card-body">
	        <span class="text-secondary small text-uppercase"></span>
	        <!--<img class="w-100 mt-2 mb-3" src="{{ producto.imagen_set.all.0.url }}" />-->
	        <img class="w-100 mt-2 mb-3 rounded" src="{{image}}" />
	        <a href="{% url 'tienda:prodadd' shortcode %}" class="btn btn-outline-warning btn-block mb-2">
	            <i class="fa fa-add"></i> Importar
	        </a>		        
	    </div>
	</div>
</div>